.position-relative {
  position: relative;
  cursor: pointer;

  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0.25rem;
  }

  &:hover .hover-overlay {
    opacity: 1;
  }
}

.cursor-pointer {
  cursor: pointer;
}
