:host .navbar-brand-box {
  background-color: transparent !important;
}

:host .logo.logo-dark img,
:host .logo.logo-light img {
  background-color: transparent !important;
}

:host .navbar-brand-box .logo-lg img {
  margin: 12px 0;
}

:host .navbar-brand-box .logo-sm img {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
}
